<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/chat/chat.css">
    <title>Chat</title>
  </head>
  <body>
   

    <ul id="messages"></ul>
    <form id="form" action="" enctype="multipart/form-data">
      <input id="input" autocomplete="off" /><button>Send</button>
      <input type="file" id="image-input" accept="image/*" />
      <img src="./img/image-fill.png" alt="" class="" id="sendFoto">
    </form>

  <script src="/socket.io/socket.io.js"></script>
  <script src="./js/chat/chat.js"></script>
  <script src="./js/script.js"></script>
</body>
</html>