<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>ToqMe</title>
</head>
<body>   
<div class="body-left">
    <h1> Esquerda</h1>
</div>
<div class="body-right">
    <h1>ToqMe</h1>
    <div class="right-container">
        <div class="r-header">
            <form action="" id="form">
                <div class="input-group">
                    <label for="">user</label>
                    <input type="text" name="" id="">
                </div>
                <div class="input-group"></div>
                    <label for="">user</label>
                    <input type="text" name="" id="">
                </div>
                <p><a href="/chat">Go Chat</a></p>
            </form>
        </div>
    </div>
</div>
</body>
</html>